@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.banner-scrollbar::-webkit-scrollbar {
  display: none;
}


@layer base {
  :root {
    --background: #fff;
    --radius: 4px;
  }
}



@layer base {
  body {
    @apply bg-background;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }
  .no-scrollbar::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  .no-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 6px;
  }
  .no-scrollbar::-webkit-scrollbar-corner{
    background-color: #f1f1f1;
  }
  .no-scrollbar::-webkit-scrollbar-button{
    display: none;
  }
  .lux-title{
    @apply font-jomolhari font-normal tracking-wide drop-shadow-[-1px_2px_4px_rgba(0,0,0,0.5)] cursor-default;
  }
  .text-shadow{
    @apply drop-shadow-[-1px_2px_4px_rgba(0,0,0,0.5)]
  }
  .normal-subtitle{
    @apply font-tajawal font-extralight text-xl xs:text-2xl lg:text-3xl align-middle leading-none drop-shadow-[-1px_2px_2px_rgba(0,0,0,0.5)] cursor-default;
  }
  .button-float{
    @apply hover:-translate-y-0.5 hover:shadow-[0_2px_5px_-1px_rgba(0,0,0,0.5)] active:translate-y-0 active:shadow-none disabled:hover:translate-y-0 disabled:hover:shadow-none;
  }
  .section-title{
    @apply font-jomolhari font-normal tracking-wide cursor-default text-3xl;
  }
  .section-text{
    @apply text-lg font-light font-tajawal leading-tight;
  }
  .content-title{
    @apply font-tajawal font-semibold leading-tight text-gray-500 text-base lg:text-lg lg:leading-tight;
  }
  .content-text{
    @apply font-tajawal leading-tight text-base font-light text-gray-600 lg:text-lg lg:leading-tight;
  }
  .about-title{
    @apply font-jomolhari tracking-tight leading-snug text-2xl xs:text-3xl text-gray-800
  }
  .about-text{
    @apply font-tajawal leading-tight font-normal text-gray-600 text-base sm:text-lg sm:leading-tight
  }
  .about-title-white{
    @apply font-jomolhari tracking-tight leading-snug text-2xl xs:text-3xl text-gray-200
  }
  .about-text-white{
    @apply font-tajawal leading-tight font-normal text-gray-300 text-base sm:text-lg sm:leading-tight
  }
  .default-paddings{
    @apply px-4 xs:px-8 sm:px-14 md:px-20;
  }
  .light-button{
    @apply py-1.5 text-gray-800 text-base font-inter font-medium bg-white w-full max-w-sm text-center hover:underline underline-offset-2 hover:bg-slate-100;
  }
  .dark-button{
    @apply py-1.5 text-gray-200 text-base font-inter font-medium bg-black w-full max-w-sm text-center hover:underline underline-offset-2  hover:bg-gray-900;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}